/*-------------*/
/*-- Webpage --*/
/*-------------*/

html,body {
  /* outside border of webpage */
  margin: 0;
  padding-top: 40px;
  /* primary */
  font-family: sans-serif;
}

/*------------*/
/*-- Navbar --*/
/*------------*/

a.anchor {
  display: block;
  position: relative;
  top: -6rem; 
}

.navbar {
  /* navigation bar thickness */
  padding: .8rem;
}

.navbar-brand > img {
  /* logo size/header height */
  height: 5rem;
  width: auto;
  /* logo margin */
  margin: -15%;
}

.navbar-nav li {
  /* navigation bar kerning */
  padding-right: 10px;
}

.nav-link {
  /* navigation bar font size (only use em) */
  font-size: 1.4em;
}

.navbar-nav > li > .dropdown-menu {
  /* navigation bar dropdown title font size (only use em) */
  font-size: 1.4em;
  /* navigation bar dropdown color */
  background: rgb(11,46,95);;
  border-color: transparent;
}

.navbar-nav > li > .dropdown-menu >.dropdown-item { 
  /* navigation bar dropdown item font size (only use em) */
  font-size: 0.7em;
  color: white;
}

/*---------------------*/
/*-- Carousel (Home) --*/
/*---------------------*/

.carousel-inner img {
  /* carousel image size to fit page */
  height: 100%;
  width:100%;
  /* top and bottom margins reduced by 20% on large screens */
  margin-top: -20%;
}

@media (max-width: 992px) {
  /* top and bottom margins reduced by 10% on medium screens */
  .carousel-inner img {
    margin-top: -10%;
  }
}

@media (max-width: 768px) {
  /* top and bottom margins reduced by 0% on small screens */
  .carousel-inner img {
    margin-top: 0%;
  }
}

.carousel-caption {
  /* title caption placement */
  position: absolute;
  top: 0.2rem;
  /* title caption font */
  color: white;
  text-shadow: 1px 1px 10px black;
}

.carousel.pointer-event {
  /* allows zoom of images on mobile devices */
  touch-action: pan-y pinch-zoom;
}

/*--------------------*/
/*-- Home Jumbotron --*/
/*--------------------*/

.jumbotron img,
.jumbotron button {
  /* image and button centering */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.jumbotron img {
  /* height of the paddle adjusted for large screens */
  height: 200px;
  width: auto;
}

@media (max-width: 992px) {
  .jumbotron img {
    /* height of the paddle adjusted for medium screens */
    height: 300px;
    width: auto;
  }
}

@media (max-width: 768px) {
  .jumbotron img {
    /* height of the paddle adjusted for small screens */
    height: 200px;
    width: auto;
  }
}

/*-----------------------------------------*/
/*-- Welcome Section (How to Get Started)--*/
/*-----------------------------------------*/
.steps {
  text-align: center;
}

ol.myUL {
  display: inline-block;
  text-align: left;
}

/*--------------*/
/*-- Schedule --*/
/*--------------*/

.placeholder {
  width: 100%; 
}

/*-----------*/
/*-- Footer --*/
/*-----------*/

.social a {
  font-size: 4rem;
  padding: 1rem;
}

.fa-facebook {
  color: #3b5998;
  height: 4rem;
  width: 4rem;
}

.fa-instagram {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  text-align: center;
  border-radius: 0.8rem;
  color: #fff;
  line-height: 250px;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.fa-discord {
  color: #7289DA;
  height: 4rem;
  width: 4rem;
  
}

/*-----------*/
/*-- Extra --*/
/*-----------*/

/*-- Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


/*-- Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
